{% extends 'layout/layout.html' %}
{% block content %}
    {% if request.user.userprofile.is_teacher %}
        <section class="connection-info">
            <div class="video video-container">
                <div class="empty"></div>
                <div id="video"></div>
            </div>
            <div class="toolbar">
                <ol>
                    <li><a class="audio disabled" title="Publish Audio">Publish Audio</a></li>
                    <li><a class="video disabled" title="Publish Video">Publish Video</a></li>
                    <li class="hidden"><a class="unpublish disabled" title="Force Unpublish">Unpublish Stream</a></li>
                    <li><a class="publish disabled" title="Publish">Publish Stream</a></li>
                </ol>
            </div>
        </section>
    {% else %}
        <section class="connection-info subscriber">
            <div class="video video-container">
                <div class="empty"></div>
                <div id="video"></div>
            </div>
        </section>
    {% endif %}

    <h1>Session is Running</h1>
    {{ request.user.userprofile }}
{% endblock %}