{% load common_template_tags %}
{% load static %}
<header class="header">
    <!-- navbar-->
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container"><a href="{% url 'home' %}" class="navbar-brand">
            <img src="{% static 'img/logo.png' %}" width="50" alt=""></a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler navbar-toggler-right mt-0"><span></span><span></span><span></span>
            </button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <div class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                        <div class="nav-item"><a href="{% url 'home' %}" class="nav-link active">Home <span
                                class="sr-only">(current)</span></a>
                        </div>
                        {% if request.user.userprofile.is_student %}
                            <div class="nav-item"><a href="{% url 'courses_list' %}" class="nav-link">Courses </a>
                            </div>
                        {% endif %}
                        <div class="nav-item"><a href="{{ request|get_my_courses:"my_courses" }}" class="nav-link">My
                            Courses </a>
                        </div>
                        <div class="nav-item"><a href="{% url 'instructors_list' %}" class="nav-link">Staff </a></div>

                        <div class="nav-item"><a href="{% url "account_logout" %}" class="nav-link">Logout</a></div>
                    {% else %}
                        <div class="nav-item"><a href="{% url "account_signup" %}" class="nav-link">Signup</a></div>
                        <div class="nav-item"><a href="{% url "account_login" %}" class="nav-link">Login</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>