{% extends "account/registration_base.html" %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block registration_content %}

    <div class="limiter">
        <div class="container-login100" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="POST" action="{% url 'account_login' %}">

                        <span class="login100-form-logo">
            						<img src="{% static 'images/logo1.png' %}">
            					</span>

                    <span class="login100-form-title p-t-27">
                        Log in
                    </span>

                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}"
                               value="{{ redirect_field_value }}"/>
                    {% endif %}

                    <div class="form-group">
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </div>
                    <div class="text-center p-t-5">
                        <a class="txt1" href="{% url 'account_reset_password' %}">
                            Forgot Password?
                        </a>
                    </div>
                    <div class="text-center p-t-5 txt1">
                        New User? <a class="txt1" href="{{ signup_url }}"> Register Now!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

