{% extends "account/registration_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Password reset{% endblock %}
{% block registration_content %}
    <div class="limiter">
        <div class="wrap-reset100">
            <p class="text-center txt1 font-2-5rem">{% trans 'Password reset' %}</p>
            <p>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

            <p class="text-center txt1 font-1-5rem">We have sent you an e-mail. Please contact us if you
                do not receive it within a few minutes.</p>
            </p>
        </div>
    </div>
{% endblock %}
