{% extends "account/registration_base.html" %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block registration_content %}
    <div class="limiter">
        <div class="container-login100" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
            <div class="wrap-login100">
                <p class="text-center py-2 txt1">{% trans 'PASSWORD RESET' %}</p>
                <p class="text-center txt1">{% trans "Fill with your mail to receive instructions on how to reset your password." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="txt1 btn btn-primary btn-block"
                           value="{% trans 'Reset My Password' %}"/>
                </form>
                <br/>
                <p class=" txt1">{% trans 'Please contact us if you have any trouble resetting your password' %}.</p>
            </div>
        </div>
    </div>
{% endblock %}
