{% extends "account/registration_base.html" %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block registration_content %}

    <div class="block-center mt-4 wd-xl">
        <div class="white-bg">
            <div class="row">
                <div class="col-md-3 offset-4">
                    <p class="text-center py-2">{% trans 'PASSWORD RESET' %}</p>
                    <p class="text-center">{% trans "Fill with your mail to receive instructions on how to reset your password." %}</p>

                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-outline-danger btn-block btn-flat"
                               value="{% trans 'Reset My Password' %}"/>
                    </form>

                    <br/>
                    <p>{% trans 'Please contact us if you have any trouble resetting your password' %}.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
