{% extends "account/registration_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Password reset{% endblock %}
{% block registration_content %}
    <div class="block-center">
        <div class="white-bg">
            <p class="text-center">{% trans 'Password reset' %}</p>
            <p>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

            <p class="text-center">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            </p>
        </div>
    </div>
{% endblock %}
